<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama Talebi</title>
</head>
<body>
<p>Merhaba ${name},</p>
<p>Şifrenizi sıfırlamak için aşağıdaki bağlantıya tıklayın:</p>
<a href="${url}">Şifre Sıfırla</a>
<p>Bu bağlantı 1 saat boyunca geçerlidir.</p>
<p>Eğer şifre sıfırlama talebinde bulunmadıysanız, bu e-postayı göz ardı edebilirsiniz.</p>
<p>İyi günler dileriz,</p>
</body>
</html>
